@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Inter", sans-serif;
    }
}

/* width */
/* ::-webkit-scrollbar {
    width: 4px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
    background: #1f2937;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
    background: #06b6d4;
    border-radius: 12px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #1d3847;
} */

/* Custom CSS to hide scrollbar by default */
.hide-scrollbar::-webkit-scrollbar {
  width: 0.4rem;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: #1f2937;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 0.2rem;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: #06b6d4;
}
